@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', serif;
    scroll-behavior:smooth ;
}
a{
    text-decoration: none;
}
/* End Global Rules */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    /* Padding for mobile view */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

 /* Medium */
@media (min-width:992px) {
    .container{
        width: 950px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* -------------------------------------- */
:root{
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}
/* ------------------------- */
.hero{
    min-height: 100vh;
    background: url(../images/desktop/image-header.jpg) no-repeat center ;
    background-size: cover;
}
/* Nav */
nav{
    padding: 2rem 0;
}
nav,.links{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.toggle_menu i{
    display: none;
}
.toggle_menu .links{
    gap: 1rem;
}
nav a{
    color: var(--White);
    font-family: 'Barlow', sans-serif;
}
.logo a{
    font-weight: 700;
    font-size: 1.7rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
    padding: 1rem 2rem;
    border-radius: 30px;
}
.links a:hover{
    background-color: rgba(255, 255, 255, 0.186);
    color: var(--White);
}
.contact_link{
    background-color: var(--White);
    color: black;
    font-family: 'Fraunces', serif;
}
.toggle_menu i:hover + .links{
    display: flex !important;
}
@media (max-width:768px){
    .toggle_menu i{
        display: block;
        color: rgba(255, 255, 255, 0.664);
        font-size: 1.3rem;
    }
    .links{
        display: none;
        flex-direction: column;
        background-color: var(--White);
        justify-content: center;
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 6rem;
        padding: 2rem 0;
        gap: 2rem !important;
    }
    .links a{
        color: #000;
    }
    .links::before{
        content: '';
        position: absolute;
        top: -27px;
        right: 0;
        border: 15px solid;
        border-color: transparent white white transparent;
    }
    .links a:hover{
        padding: 0;
        background-color: var(--White);
        color: #000;
    }
    .contact_link{
        background-color: yellow;
        color: black;
    }
}
.hero__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.hero__text h1{
    text-align: center;
    font-size: 2.5rem;
    word-spacing: 15px;
    color: var(--White);
    text-transform: uppercase;
    margin-block-start: 4rem;
}
.hero__text .arrow{
    font-size: 5rem;
    color: var(--White);
}
.service__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.services__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    text-align: left;
    min-height: 400px;
}
.services__box h3{
    font-size: 3.5rem;
    margin-block-end: 2rem;
}
.services__box p{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-block-end: 2rem;
}
.services__box a{
font-size: 1.5rem;
color: #000;
border-bottom: 5px solid yellow;
display: block;
text-transform: uppercase;
width: fit-content;
}
@media (max-width: 768px) {
    .service__row {
      display: flex;
      flex-direction: column;
    }
    .services .service__row:first-child{
        flex-direction: column-reverse;
    }
    .services__box{
        text-align: center;
        padding: 2rem;
    }
    .services__box h3{
        font-size: 1.7rem;
    }
    .services__box p{
        font-size: 1rem;
    }
    .services__box a{
        font-size: 1.1rem;
        margin: 0 auto;
    }
    }
.services__box-img img{
    width: 100%;
    height: 100%;
}
.services__box--service{
    min-height: 500px;
    background: url(../images/desktop/image-graphic-design.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 3rem;
}
.services__box--service h4{
    font-size: 2rem;
}
.service__row .services__box--service:nth-child(2){
    background: url(../images/desktop/image-photography.jpg) no-repeat center;
    background-size: cover;
}
.testimonial{
    margin-block: 7rem;
}
.testimonial__content{
    display: flex;
    gap: 2rem;
}
.testimonial__title{
    text-align: center;
    color: var(--Grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-block-end: 4rem;
}
.testimonial__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonial__box-img{
    width: 70px;
    margin-block-end: 2rem;
}
.testimonial__box-img img{
    border-radius: 50%;
    width: 100%;
}
.testimonial__box p{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin-block-end: 4rem;
}
.testimonial__box h3{
    margin-block-end: .5rem;
}
.testimonial__box span{
    color: var(--Grayish-blue);
    font-family: 'Barlow', sans-serif;
}
@media (max-width:768px){
    .testimonial__content{
        flex-direction: column;
    }
}
.gallery{

    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gallery img{
    width: 100%;
}
footer{
    background-color: #90D4C5;
    padding: 2rem 0;
    font-family: 'Barlow', sans-serif;
}
footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
footer .container a{
    color:#327969;
    transition: 0.3s;
}
footer .container a:hover{
    color: #205e4f;
}
footer .container ul{
    display: flex;
    gap: 2rem;
    
}
.social_icons{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}